<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edulib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChatRoom"></activity>
        <activity android:name=".EditPassword" />
        <activity android:name=".Info_Un" />
        <activity android:name=".Tentang" />
        <activity android:name=".Diskusi" />
        <activity android:name=".Info" />
        <activity android:name=".EditProfile" />
        <activity android:name=".Pengingat" />
        <activity android:name=".LatihanSoal" />
        <activity android:name=".Materi" />
        <activity android:name=".Home" />
        <activity android:name=".Login" />
        <activity android:name=".Saran" />
        <activity android:name=".Keluhan" />
        <activity android:name=".NotifKeluhan" />
        <activity android:name=".NotifSaran" />
        <activity
            android:name=".Splashscreen"
            android:theme="@style/noappbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".diskusi_ipa" />
        <activity android:name=".diskusi_sosial" />
        <activity android:name=".diskusi_bahasa" />
        <activity android:name=".RecyclerViewUniv" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".DetailMateri"/>
        <activity android:name=".RecyclerViewIps">
        </activity>
        <activity android:name=".DetailActivityIps" />
        <activity android:name=".RecyclerViewBahasa">

        </activity>
        <activity android:name=".DetailActivityBahasa" />
        <activity android:name=".DetailActivityIpa" />
        <activity android:name=".RecyclerViewIpa" />
    </application>
</manifest>